@font-face {
    font-family: 'my-google-font' ;
src: url('../../assets/fonts/google/Ubuntu-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'my-google-font' ;
    word-wrap: break-word;
    vertical-align: top;
}



p{
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    z-index: 10;
    padding: 15px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}

.main-title {
    text-align: center;
    font-size: 64px;
    padding: 32px;
}

.top-container{

    margin: 0 64px auto;
    text-align: center;
}
.top-left {
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: middle;
}

.top-right {
    display: inline-block;
    width: 45%;
    margin: 0 32px auto;
    text-align: center;
    vertical-align: middle;
}

.margin16v{
    margin: 16px 0;
}

.margin32v {
    margin: 32px 0;
}

.margin64v{
    margin: 64px 0;
}

.top-left img , .top-right img {
    margin-bottom: 48px;
}


.model{
    font-size: 24px;
}

.slogan{
    margin-top: 16px;

    font-size: 40px;
}

.price{
    margin-top: 16px;
    font-size: 32px;
}

#Compare {
    background-color: #eeeeee;
    text-align: center;
}

.compare-card {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    min-width: 500px;
    margin : 24px;
}

.img-compare {
    height: 300px;}

.color-circle {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 24px 1px;
}

.color-gray-light {
    background-color: #cccccc;
}
.color-gray-dark{
    background-color: #dddddd;
}

hr {
    color: #cccccc;
    margin: 32px auto;
}

.margin32top {
    margin-top: 32px;
}


