@font-face {
    font-family: 'my-google-font' ;
src: url('../../assets/fonts/google/Ubuntu-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'my-google-font' ;
    word-wrap: break-word;
    vertical-align: top;
}

p{
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    z-index: 10;
    padding: 15px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
}