/* space means child */
/* حتی وقتی فرزند غر مستقیم هم باشن اعمال میشه*/
p span {
    color: #FA6D3A;
}

p.special span {
    color: #8cff7f;
}

div p {
    color: cyan;
}

div span {
    color: red;
}

span {
    font-size: 24px;
}

/* فقط روی فرزندان مستقیم اعمال میشه*/
div > span {
    color: #125e07;
}

/* یعنی تگ پی که بلافاصله بعد از تگ بی آر قرار گرفته*/
br + p {
    color: #5a54d4;
}

/* اگر یک تگ پی بعد از بی آر اومده بود از اونجا به بعد همه تگ های پی را قزمر کن*/
/* ولی اگر مثلا این تگ پی توی تگ دیو بود دیگه اعمال نمیشه*/
br ~ p {
    color: crimson;
}