/******************* Overflow *****************/
.my-div {
    width: 90%;
    border: 3px solid orangered;
    padding: 8px;
    margin: 50px auto;
    overflow: auto;
    /*text-align: right;*/
}

.my-img {
    float: right;
    /*    میره سمت راست باکس*/
    /* بعضا با تکست الاین هم میشه این کارو کرد ولی فلوت اصولی تر هست*/
/*    دقت کن که تکست الاین رو باید به پرنتش بدی ولی فلوت رو به خودش میدیم*/

    /*clear: both;*/
    /* یعنی از دو طرف دیگه چیزی رو کنار من نذار و بهم وصل نکن*/
    max-width: 25%;
    display: inline-block;
}

.my-paragraf {
    width: 50%;
    float: left;
    display: inline-block;
}

/*
اگر باکس ویت و هایت نداشته باشد
اورفلوی اتو هم نداشته باشد
و ایتم های داخل باکس فلوت داشته باشند
باکس دیگر به اندازه ایتم های داخلش کش نمیاد
برای همین چیزا الان زیاد از فلئت استفاده نمیشه و با فلکس و این ها هندل میکنن
کلا یکم گاهی به هم ریختگی توی استایل ایجاد میکنه
*/


