

body{
    margin: 0 auto;
}

.img1 {
    /*visibility: collapse;*/
    /* توی ویزیبیلیتی کلپس یا هیدن آیتم هاید میشه ولی جاش میمونه*/

    /*display: none;*/
    /*توی دیسپلی نان هم غیب میشه هم جاش میره */

}

/*
تگ ایمیج اینلاین هست و هر تعداد عکس کنار هم باشخ کنار هم قرار میگیرن
ولی تگ دیو بلاک است و یک خط رو پر میکنه. پس من اگه عکسا رو توی تگ دیو بذارم می افتن زیر هم
ولی اگه بخوام دیو ها کنار هم قرار بگیرند باید چیکار کنم؟
*/

div {
    display: inline-block;
    /*اگر دیسپلی رو اینلاین بلاک بدم یعنی از حالت بلاک بیا اینلاین شو */
    /* این کاریه که ما باید انجام بدیم وقتی میخوایم دیو ها رو کنار هم بیاریم*/
}

.first-div {
    background-color: #8cff7f;
    width: 30%;
}

.second-div {
    background-color: #e197d1;
    width: 30%;
}

.third-div {
    background-color: #5f79b0;
    width: 30%;
}

