body{
    background-color: #eefff2;
    background-image: url("../../assets/images/wall11.jpeg");
    background-attachment: fixed;
    /*background-position: top center;*/
    background-repeat: repeat-y;
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
}

.main-div {
    width: 300px;
    height: 300px;
}

.bg-main {
    background-color: cornflowerblue;
}

.bg-rgb {
    background-color: rgb(255, 10 , 100);
}

.bg-rgba {
    background-color: rgba(255 , 100 , 100 , 0.5);
}

.bg-hsl {
    background-color: hsl(800, 50%, 50%);
}

.bg-gradiant {
    background: rgb(82,58,180); // if the brower does not support gradiant
    background: linear-gradient(90deg, rgba(82,58,180,1) 11%, rgba(222,253,29,0.7007003484987745) 50%, rgba(252,69,116,0.5326331216080182) 76%);
}

.bg-image{
    background: khaki;
    background-image: url("../../assets/images/sonic.png");
    background-repeat: repeat;
    background-clip: content-box;
}

/* border */
.border-red {
    border: 6px solid red;
    border-right: none;
}

.border-green {
    border-width:8px ;
    border-left-color: #FA6D3A;
    border-style: solid;
    border-radius: 50px;
}

.border-image {
    border-width:25px ;
    border-image: url("../../assets/images/wall2.jpg") 100 repeat;
    border-style: solid;
}

