/******************* DISPALY & VISIBILITY *****************/

body{
    margin: 0 auto;
    text-align: center;
}

.img1 {
    /*visibility: collapse;*/
    /* توی ویزیبیلیتی کلپس یا هیدن آیتم هاید میشه ولی جاش میمونه*/

    /*display: none;*/
    /*توی دیسپلی نان هم غیب میشه هم جاش میره */

}

/*
تگ ایمیج اینلاین هست و هر تعداد عکس کنار هم باشخ کنار هم قرار میگیرن
ولی تگ دیو بلاک است و یک خط رو پر میکنه. پس من اگه عکسا رو توی تگ دیو بذارم می افتن زیر هم
ولی اگه بخوام دیو ها کنار هم قرار بگیرند باید چیکار کنم؟
*/

.first-div , .second-div , .third-div {
    display: inline-block;
    /*اگر دیسپلی رو اینلاین بلاک بدم یعنی از حالت بلاک بیا اینلاین شو */
    /* این کاریه که ما باید انجام بدیم وقتی میخوایم دیو ها رو کنار هم بیاریم*/
}

.first-div {
    background-color: #8cff7f;
    width: 30%;
}

.second-div {
    background-color: #e197d1;
    width: 30%;
}

.third-div {
    background-color: #5f79b0;
    width: 30%;
}

/************** POSITION ***********************/
.parag1 {
    /*position: static;*/
    /*استاتیک حالت دیفالت پوزیشن هست و هیچ تغییری نمیبینیم توی این حالت */

    position: relative;
    /*
    ما هر وقت از پوزیشن ریلیتیو استفاده میکنیم باید در کنارش
    تاپ یا باتم رو داشته باشیم
    و
    لفت یا رایت رو داشته باشیم
    */

    /*top: 50px;*/
    /*
    یعنی نسبت به پوزیشن فعلیت 50 تا جابه جا شو بیا و از بالا این مقدار فاصله بگیر
    */
    /*پوزیشن فعلی خیلی مهمه......*/

    /*left: 200px;*/
    /*
    ولی کار درستی نیست هم زمان هم بالا رو بدیم هم پایین رو
    */

    bottom: 200px;
    /*مثلا یک نوشته ای که دارم که میخوام بنذازمش روی عکس */

    width: 300px;
    background-color: rgba(47, 44, 46, 0.61);
    margin: 0 auto;
    color: #fff;
}

.parag2 {
    position: fixed;
    /*هر چقدر هم اسکرول کنیم توی همون قسمتی از صفحه که هست میمونه */
    /* کاربردش بیشتر توی منوها و ... هست*/
    /* چیجوری میشه تکونش داد؟ با تاپ و باتن و....*/
    top : 0;
    right:0;
}

.parag3 {
    position : absolute;
    top: 50px;
    /*bottom: 100px;*/
    /* شبیه فیکسد هست و میره میچسبه یه گوشه و با تاپ و این ها میشه جاشو کنترل کرد*/
/*    فرقش اینه همیشه روی صفحه نمیمونه و اسکرول بخوره از کادر خارج میشه*/
    /* پوزیشن ابسولوت نسبت به پرنت هست*/
    /* اگر پرنت شما پوزیشن ریلیتیو داشته باشه نسبت به پرنت جا به جا میشه*/
    /* در غیر این صورت نسبت به بادی جا به جا میشه*/
    /* یعنی مثلا اگه بگم 25 پیکسل از بالا فاصله بگیر 25 تا از بالای پرنت میگیره*/
    /* پس اینجوری میتونیم توی یک لایه جا به جاکنیم آیتم ها رو*/
}

#parent-div {
    position: relative;
    background-color: rgba(241, 81, 20, 0.32);
    height: 500px;
    top: 300px;
}

#apfel {
    position: absolute;
    bottom: 0;
    right: 50%;
}

/*
این می افته پایین وسط باکس پرنتش چون پرنتش ریلیتیو هست
*/

.parag4{
    position: sticky;
    top: 0;

    /* این سر جاش میمونه ولی وقتی اسکرول بهش رسید از اینجا به بعد فیکس میشه*/
    /* بیشتر برای منو و این ها استفاده میشه ولی در کل زیاد پر مصرف نیست*/
}


